<div class="container mx-auto text-center text-white flex flex-col justify-between min-h-screen">
  <header class="my-4">
    <h1 class="text-5xl mb-4">Ipsum.coffee</h1>
    <p class="text-2xl">A perky lorem ipsum generator* for the well-caffeinated.</p>
    <p class="text-sm">* with an API</p>
  </header>

  <div class="flex flex-col" data-controller="ipsum">
    <label>
      We brewed some fresh ipsum for you:
      <br />
      <br />
      <textarea data-ipsum-target="currentIpsum" data-clipboard-target="ipsum" class="text-black" cols="50" rows="10" readonly><%= @initial_ipsum %></textarea>
    </label>
    <div class="flex justify-center">
      <%= button_tag(
        "Pour me another", 
        class: "flex-initial p-4 mr-4 bg-yellow-400 text-black border rounded",
        data: {
          action: "ipsum#refresh"
      }) %>
      <%= button_tag(
        "Copy that brew", 
        class: "flex-initial p-4 bg-yellow-400 text-black border rounded",
        data: {
          action: "ipsum#copy"
        }) %>
    </div>
  </div>

  <footer class="py-4 flex justify-center items-center">
    <p class="mr-4">
      Brewed with 💛 by <a class="transition hover:underline" href="https://www.audaciousaardvark.com">Audacious Aardvark</a> in Middle Tennessee.
    </p>
    <p>
      <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Buy Me a Coffee', '#d1cb1e', 'W7W563B5T');kofiwidget2.draw();</script>
    </p>
  </footer>
</div>
